@media screen and (min-width: 480px) {
  .bodyHome {
    background: url("../../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    min-width: 10vw;
    min-height: 50vh;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

    .students_img {
      width: 40vw;
      height: 40vh;
      position: relative;
      left: 43vw;
      bottom: 80vh;
  }
  .shadow {
    box-shadow: 1px 2px 10px 1px rgba(99, 99, 99, 0.8);
  }

  .whiteShadow {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
  }

  .name {
    margin-top: 40px;
    margin-left: 9vw;
    margin-right: auto;
    font-size: 5vw;
    font-family: "Sora", sans-serif;
  }
  .description {
    position: relative;
    top: 26px;
    left: 1vw;
    text-align: left;
    font-size: 1.4vw;
    font-family: "Sora", sans-serif;
    width: 47vw;
    height: 50vh;
    text-align: center;
  }
}


