 
  .bodyHome {
    background: url("back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0.9rem;
    font-family: "Sora", sans-serif;
    min-width: 100vw;
    min-height: 50vh;
    
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .backgroundImage {
    background: url("back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
    .students_img {
      min-width: 40vw;
      min-height: 40hw;
      position: relative;
      left: 930px;
      bottom: 170px;
      width: 150px;
      display: inline-block;

  }
  //.shadow {
    //box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  //}
  .name {
    margin-top: 40px;
    margin-left: 310px;
    margin-right: auto;
    font-size: 4rem;
    font-family: "Sora", sans-serif;
  }
  .description {
    position: relative;
    top: 20px;
    left: 305px;
    text-align: left;
    font-size: 1.3rem;
    font-family: "Sora", sans-serif;
    width: 500px;
    height: 200px;
  }
 


