@media (min-width: 568px) {
    body {
      background: url("background.jpeg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-size: 0.9rem;
      font-family: "Sora", sans-serif;
    }
}