.okbutton {
  background-color: #216bc4;
}

.okbutton:hover {
  background-color: #6497d6;
}

.add-button {
  background-color: #216bc4;
  margin-bottom: 12px;
}

.add-button:hover {
  background-color: #6497d6;
}

.second {
  margin-top: 1rem;
}
